.header {
    height: 75px;
    display: flex;
    align-items: center;
    background-color: black;
    top: 0;
    z-index: 100;
    flex: auto;
}

.header__logo {
    width: 250px;
    object-fit: contain;
    place-self: center;
}

.header__title{
    display: flex;
    place-content: center;
    flex: 1;
    align-items: center;
    border-radius: 24px;
    color: white;
    font-weight:900;
}

.header__search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}

.header__searchInput{
    height: 12px;
    padding: 10px;
    border: none;
    width:100%;
}

.header__searchIcon{
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;

}

.header__optionLineOne{
    font-size: 10px;
}

.header__optionLineTwo{
    font-size: 13px;
    font-weight: 800;
}

.header__optionBasket {
    display: flex;
    align-items: center;
    color: white;
}

.header__basketCount {
    margin-left: 10px;
    margin-right: 10px;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}

.header__option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}