@import url('https://fonts.googleapis.com/css?family=Muli');


.appBody {
    background-color: '#F7F8FC' !important;
}

.p-highlight {
    background-color: #289AD3 !important;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}

.container {
height: auto;
width: 100%;
}